.amita-regular {
    font-family: "Amita", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .amita-bold {
    font-family: "Amita", serif;
    font-weight: 700;
    font-style: normal;
  }
  